.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 2px solid red;
  font-weight: 700;
  font-size: 24px;
  color: red;
  font-family: cursive;
  background: #1a1a1a;
  animation: zoom 3s;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.winner-box {
  text-align: center;
  background: linear-gradient(77deg, #35ff35, #3784f7, #be33ed, #f7f737);
}

.winner-image {
  animation: rotate 6s infinite;
}

@keyframes rotate {
  0% {
    transform: scaleX(-0.9);
  }
  50% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(-0.9);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
